<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Restaurant Catalogue">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-title" class="skip-link">Menuju ke konten</a>
    <header>
      <nav class="nav-bar" id="drawer">
        <div class="titleBar">
          <h4>Hunger App</h4>
        </div>

        <div class="nav-list" id="navigationDrawer">

          <div class="list-link">

            <div class="hamburg-menu">
              <a href="#" id="hamburger">☰</a>
            </div>

            <ul id="list">
              <li><a href="/">Home</a></li>
              <li><a href="#">Favorite</a></li>
              <li><a href="https://linkedin.com/in/auliasalsabila11">About Us</a></li>
            </ul>
          </div>
          
          
        </div>
      </nav>
    </header>

    <main>
      <div class="hero" id="hero">
        <div class="hero__inner">
          <h4 class="hero_title">Let's Find Your Favorite Food With Us</h4>
          <p class="hero__tagline">always serving the best quality</p>
        </div>
      </div>

      <div id="main-title" class="main-title">
        <h4>Explore Restaurant</h4>
      </div>

      <div id="container" class="container">
      
      </div>
    </main>

    <footer>
      <h4>Copyright 2023 - Hunger Apps</h4>
    </footer>
  </body>
</html>
